# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env/

# Jupyter and VS Code
.ipynb_checkpoints/
.vscode/

# MacOS
.DS_Store

# data files
*.joblib
*.csv
data/


# Logs and runtime files
*.log
*.pid

# OS or editor specific
*.swp
*~